* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 10vh;
    background-color: rgba(117, 0, 0, 0.708);
}

.input {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 3rem;
    margin-top: 5rem;

    > .first-row {
        display: flex;
        gap: 5rem;
        justify-content: center;
    
        & .tag {
            margin-bottom: 1rem;
        }
    }

    > .second-row {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}

.ticket {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 2rem 3rem;
    margin-top: 5rem;
    display: flex;

    > .passenger {
        background-color: lightgrey;
        padding: 1rem;
        
    }

    > .details {
        padding: 1rem;
        border-top: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        & .value {
            margin-top: 5rem;
        }
    }
}


